baseURL = 'https://joser.ca/'
languageCode = 'en-us'
title = "Joser's Elixir"

# Menu configuration
[[menu.main]]
  name = "Home"
  url = "/"
  weight = 1

[[menu.main]]
  name = "Posts"
  url = "/posts/"
  weight = 2

[[menu.main]]
  name = "About"
  url = "/about/"
  weight = 3

[markup]
  [markup.goldmark]
    [markup.goldmark.renderer]
      unsafe = true
  [markup.highlight]
    style = "native"

[params]
  description = "Exploring the world of Elixir development, functional programming, and software engineering"
